server.port=3000

spring.jpa.hibernate.database-platform=
spring.jpa.hibernate.ddl-auto=
spring.datasource.url=
spring.datasource.username=
spring.jpa.database=

SLACK_BOT_TOKEN=
SLACK_SIGNING_SECRET=
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_REDIRECT_URI=
SLACK_SCOPES=
SLACK_USER_SCOPES=
SLACK_INSTALL_PATH=
SLACK_REDIRECT_URI_PATH=
SLACK_OAUTH_COMPLETION_URL=
SLACK_OAUTH_CANCELLATION_URL=

SLACK_INSTALL_BUCKET=

spring.datasource.initialization-mode=